.productContainer {
  position: relative;
  overflow: hidden;
}

.productContainer img {
  display: block;
  width: 100%;
  transition: transform 0.5s ease;
}

.productContainer:hover img {
  transform: scale(1.1);
}

